<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Final%20Assignment/Images/IDSNlogo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

# Peer Review Assignment - Data Engineer - Extract API Data

Estimated time needed: **20** minutes

## Objectives

In this part you will:

*   Collect exchange rate data using an API
*   Store the data as a CSV

For this lab, we are going to be using Python and several Python libraries. Some of these libraries might be installed in your lab environment or in SN Labs. Others may need to be installed by you. The cells below will install these libraries when executed.

In [ ]:
#!mamba install pandas==1.3.3 -y
#!mamba install requests==2.26.0 -y

## Imports

Import any additional libraries you may need here.

In [1]:
import requests
import pandas as pd

## Extract Data Using an API

Using ExchangeRate-API we will extract currency exchange rate data. Use the below steps to get the access key and to get the data.

1.  Open the url : [https://exchangeratesapi.io/](https://exchangeratesapi.io/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2022-01-01) and click on **Get Free API Key**.
2.  Subscribe for Free plan and Sign-in with the Google Account.
3.  Once the account is created you will be redirected to [https://apilayer.com](https://apilayer.com/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2022-01-01) website.
4.  Now, click on the **user icon** and click **Account** as shown below:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Final%20Assignment/Images/account.png"/>

3.  Scroll down and you will get the API Key section. Copy the API key and use in the url in Question 1.

### Call the API

<b> Question 1</b> Using the `requests` library call the endpoint given above and save the text, remember the first few characters of the output:

In [3]:
# Write your code here
url = "https://api.apilayer.com/exchangerates_data/latest?base=EUR&apikey=pLx2chneWUz5CyNiLVpFUDevym3sxnnR" #Make sure to change ******* to your API key.
response = requests.get(url)
response.json()

{'success': True,
 'timestamp': 1653025324,
 'base': 'EUR',
 'date': '2022-05-20',
 'rates': {'AED': 3.888277,
  'AFN': 95.272558,
  'ALL': 120.096417,
  'AMD': 486.311021,
  'ANG': 1.908973,
  'AOA': 438.750754,
  'ARS': 125.266056,
  'AUD': 1.502483,
  'AWG': 1.905448,
  'AZN': 1.793054,
  'BAM': 1.967674,
  'BBD': 2.138653,
  'BDT': 92.731698,
  'BGN': 1.95521,
  'BHD': 0.399133,
  'BIF': 2128.808441,
  'BMD': 1.058582,
  'BND': 1.466479,
  'BOB': 7.281964,
  'BRL': 5.220504,
  'BSD': 1.059166,
  'BTC': 3.5161581e-05,
  'BTN': 82.253574,
  'BWP': 12.901336,
  'BYN': 3.574416,
  'BYR': 20748.207578,
  'BZD': 2.134981,
  'CAD': 1.354874,
  'CDF': 2122.457132,
  'CHF': 1.0271,
  'CLF': 0.032132,
  'CLP': 886.615328,
  'CNY': 7.085198,
  'COP': 4287.765297,
  'CRC': 708.669062,
  'CUC': 1.058582,
  'CUP': 28.052424,
  'CVE': 110.674883,
  'CZK': 24.685286,
  'DJF': 188.131441,
  'DKK': 7.442943,
  'DOP': 58.546748,
  'DZD': 154.220593,
  'EGP': 19.349289,
  'ERN': 15.878731,
  'ETB': 54.514621,
  'EUR': 1,
  'FJD': 2.313372,
  'FKP': 0.86627,
  'GBP': 0.848972,
  'GEL': 3.075147,
  'GGP': 0.86627,
  'GHS': 8.154931,
  'GIP': 0.86627,
  'GMD': 57.321822,
  'GNF': 9341.98588,
  'GTQ': 8.127244,
  'GYD': 221.601815,
  'HKD': 8.308017,
  'HNL': 25.90408,
  'HRK': 7.53869,
  'HTG': 118.630966,
  'HUF': 384.409235,
  'IDR': 15511.402328,
  'ILS': 3.557788,
  'IMP': 0.86627,
  'INR': 82.013112,
  'IQD': 1545.000457,
  'IRR': 44830.948374,
  'ISK': 139.489086,
  'JEP': 0.86627,
  'JMD': 164.048925,
  'JOD': 0.750527,
  'JPY': 135.289195,
  'KES': 123.271597,
  'KGS': 84.697039,
  'KHR': 4298.901177,
  'KMF': 494.778872,
  'KPW': 952.724053,
  'KRW': 1342.541331,
  'KWD': 0.324275,
  'KYD': 0.882604,
  'KZT': 454.244274,
  'LAK': 14047.383728,
  'LBP': 1605.192607,
  'LKR': 381.30693,
  'LRD': 161.963452,
  'LSL': 16.863289,
  'LTL': 3.125718,
  'LVL': 0.640326,
  'LYD': 5.091587,
  'MAD': 10.599055,
  'MDL': 20.161057,
  'MGA': 4282.490801,
  'MKD': 61.618319,
  'MMK': 1961.06357,
  'MNT': 3255.955663,
  'MOP': 8.56115,
  'MRO': 377.913599,
  'MUR': 45.785442,
  'MVR': 16.290995,
  'MWK': 863.266833,
  'MXN': 21.065836,
  'MYR': 4.653512,
  'MZN': 67.569561,
  'NAD': 16.862923,
  'NGN': 439.438489,
  'NIO': 37.89079,
  'NOK': 10.255172,
  'NPR': 131.60608,
  'NZD': 1.653606,
  'OMR': 0.407556,
  'PAB': 1.059166,
  'PEN': 3.976071,
  'PGK': 3.720901,
  'PHP': 55.222034,
  'PKR': 211.823659,
  'PLN': 4.646698,
  'PYG': 7249.164356,
  'QAR': 3.854296,
  'RON': 4.947923,
  'RSD': 117.499674,
  'RUB': 65.658558,
  'RWF': 1080.812242,
  'SAR': 3.970852,
  'SBD': 8.599418,
  'SCR': 14.426866,
  'SDG': 547.8129,
  'SEK': 10.490337,
  'SGD': 1.458869,
  'SHP': 1.458095,
  'SLL': 13573.66386,
  'SOS': 613.977261,
  'SRD': 22.237661,
  'STD': 21910.51053,
  'SVC': 9.267786,
  'SYP': 2659.634942,
  'SZL': 16.874022,
  'THB': 36.425963,
  'TJS': 13.245429,
  'TMT': 3.715623,
  'TND': 3.236106,
  'TOP': 2.471418,
  'TRY': 16.890843,
  'TTD': 7.191118,
  'TWD': 31.339301,
  'TZS': 2462.261841,
  'UAH': 31.292965,
  'UGX': 3863.958679,
  'USD': 1.058582,
  'UYU': 43.018932,
  'UZS': 11734.381925,
  'VEF': 226356828543.21786,
  'VND': 24533.167588,
  'VUV': 120.959576,
  'WST': 2.730446,
  'XAF': 659.907422,
  'XAG': 0.048137,
  'XAU': 0.000574,
  'XCD': 2.860871,
  'XDR': 0.791136,
  'XOF': 662.144686,
  'XPF': 119.67264,
  'YER': 264.910501,
  'ZAR': 16.738632,
  'ZMK': 9528.511516,
  'ZMW': 18.033048,
  'ZWL': 340.862978}}

### Save as DataFrame

<b> Question 2</b>  Using the data gathered turn it into a `pandas` dataframe. The dataframe should have the Currency as the index and `Rate` as their columns. Make sure to drop unnecessary columns.

In [4]:
# Turn the data into a dataframe
dataframe = pd.DataFrame(response.json())
dataframe

     success   timestamp base        date        rates
AED     True  1653025324  EUR  2022-05-20     3.888277
AFN     True  1653025324  EUR  2022-05-20    95.272558
ALL     True  1653025324  EUR  2022-05-20   120.096417
AMD     True  1653025324  EUR  2022-05-20   486.311021
ANG     True  1653025324  EUR  2022-05-20     1.908973
..       ...         ...  ...         ...          ...
YER     True  1653025324  EUR  2022-05-20   264.910501
ZAR     True  1653025324  EUR  2022-05-20    16.738632
ZMK     True  1653025324  EUR  2022-05-20  9528.511516
ZMW     True  1653025324  EUR  2022-05-20    18.033048
ZWL     True  1653025324  EUR  2022-05-20   340.862978

[168 rows x 5 columns]

In [5]:
# Drop unnescessary columns
dataframe.drop(columns=["success", "timestamp", "base", "date"], inplace=True)
dataframe

           rates
AED     3.888277
AFN    95.272558
ALL   120.096417
AMD   486.311021
ANG     1.908973
..           ...
YER   264.910501
ZAR    16.738632
ZMK  9528.511516
ZMW    18.033048
ZWL   340.862978

[168 rows x 1 columns]

### Load the Data

Using the dataframe save it as a CSV names `exchange_rates_1.csv`.

In [8]:
# Save the Dataframe
dataframe.to_csv("C:\Users\CVazquez\Documentsexchange_rates_1.csv")

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (729919646.py, line 2)

Your CSV should be in this format with more currencies

|     | Rates      |
| --- | ---------- |
| AED | 4.398618   |
| AFN | 92.917693  |
| ALL | 123.099093 |
| AMD | 621.935674 |
| ANG | 2.149648   |

## Authors

Ramesh Sannareddy, Joseph Santarcangelo and Azim Hirjani

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                              |
| ----------------- | ------- | ----------------- | ----------------------------------------------- |
| 2022-05-06        | 0.3     | Malika            | Updated instructions to get the API and the url |
| 2021-04-15        | 0.2     | Malika            | Updated the lab from USD to EUR                 |
| 2020-11-25        | 0.1     | Ramesh Sannareddy | Created initial version of the lab              |

Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2022-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).